@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
 *{
    margin:0;
    padding:0;
    outline:none;
    border:none;
    text-decoration:none;
    box-sizing: border-box;
    font-family:"Popping",sans-serif;
}

body{
    background: #dfe9f5;
}


.head-nav{
    width:100%;
    height: 4rem;
    background:#fff;
}

.logo{
    display: flex;
    text-align: end;
    justify-content: flex-end;
}

.logo img{
    width:100px;
    height:45px;
    padding-top:0.2rem;
    margin:0;
}

ul{
    flex-direction: column;
    display: flex;
    height: 100%;
    justify-content: space-around;
}


a.active .material-symbols-outlined {
    color: #8D6CFA;
}


a{
    position:relative;
    color:rgb(85,83,83);
    font-size:14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
}

.fas{
    position:relative;
    width:70px;
    height:40px;
    top:14px;
    font-size:20px;
    text-align:center;
}

.nav-item{
    position:relative;
    top:12px;
    margin-left:10px;
}


@media (min-width: 431px){
    nav{
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        height:100%;
        background:#fff;
        width:6rem;
        overflow:hidden;
        transition:width 0.2s linear;
        box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    li.active{
        border-right: 5px solid #8D6CFA;
    }
}


@media (max-width: 430px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } 

    body {
        padding-bottom: 4rem;
    }

    .head-nav{
        width:100%;
        height: 4rem;
        background: #FFFFFF;
    }

    nav {
        background: #FFFFFF;
        position: fixed;
        width: 100%; 
        height:4rem;
        box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
        align-items: center;
        bottom: 0;
        left: 0;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        width:100%
    }


    nav ul li {
        display: flex;
        width:8rem;
        justify-content: center;

    }

    nav ul li a {
        color: #333;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li a .material-symbols-outlined {
        font-size: 24px;
    }

    li.active{
        border-top: 5px solid #8D6CFA;
    }

}

/* Dashboard */

.add-steps {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.form-container {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 85rem;
    text-align: center;
}

.form-container h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #606060;
    justify-content: start;
    display: flex;
}

table{
    border-collapse: collapse;
    width: 100%;
    color:#606060;
}

th,td{
    border: 1px solid #606060;
    padding: 15px;
    height: 6rem;

}

tr{
    height: 6rem;
}

@media (max-width: 430px){

  nav{
    z-index:2;
  }

  main{
      margin-left:2rem;
      height: auto;
  }

  section{
      height:50rem;
      margin-top: 4rem;
  }

  .add-steps{
    height: 31rem;
    width: 23rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
  }

  .form-container{
    padding:1rem;
  }

  #teamsMitglieder{
    width:23rem;
  }

}

/* CSS BUTTON GROUPS */


.multi-button{
    margin-bottom: 3rem;
}

.multi-button_button{
    font-family:"Popping",sans-serif;
    font-size: 15px;
    /* border: none; */
    cursor: pointer;
    padding: 14px 14px;
    color: black;
    /* transition: background 0.2s ease-in-out; */
    /* box-shadow: 0 5px 10px #11111150;  */
}

.flexbox-buttons{
    display:flex;
    justify-content: end;
}

.multi-button_button:focus{
    background-color: #8D6CFA;
    color:white;
}

.multi-button_button.active {
    background-color: #8D6CFA;
    color: white;
}

.tag{
    border-radius: 5px 0 0 5px;
    box-shadow: 4px 6px 8px #11111150;
}

.woche{
    box-shadow: 4px 6px 8px #11111150;
}

.monat{
    border-radius: 0 5px 5px 0;
    box-shadow: 4px 4px 6px #11111150;
}

/* .multi-button_button:first-child,
.multi-button_button:last-child{
  transition: none;
  position: relative;
  overflow: hidden;
} */


.multi-button_button:first-child::after,
.multi-button_button:last-child::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 20%;
    background-color: var(--complement);
    top: 0;
}

.multi-button_button:first-child::after{
    right: -20%;
    border-radius: 50% 0 0 50%;
    transition: right ease-in-out 0.2s;
}

.multi-button_button:last-child::after{
    left: -20%;
    border-radius: 0 50% 50% 0;
    transition: left ease-in-out 0.2s;
}

.multi-button_button:first-child:hover::after{
    right: 0;
}

.multi-button_button:last-child:hover::after{
    left: 0;
}
